<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link href="/style.css" rel="stylesheet" />
    <title>Chickpea Test</title>
  </head>
  <body>
    <div id="header">
      <h1>Chickpea Database Test Page</h1>
    </div>
    <div id="import">
      <form action="/dump" method="get">
        <div class="subheader">
          Chickpea Database:
          <button id="import-button" class="btn" type="submit">
            Import Data
          </button>
        </div>
      </form>
    </div>
    <div class="database-tables">
      <div class="subheader">Customer</div>
      <table id="Customer" class="table" border="1">
        <tr>
          <th>Customer ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Hashed Password</th>
          <th>Name</th>
        </tr>
        <!-- please reference for other tables -->
        <% if(locals.cust) {%> <% for(var i = 0; i < cust.length; i++) {%>
        <tr>
          <td><%= cust[i].CustomerID %></td>
          <td><%= cust[i].Username %></td>
          <td><%= cust[i].Email %></td>
          <td><%= cust[i].Hashed_Password %></td>
          <td><%= cust[i].Name %></td>
        </tr>
        <% } %> <% } %>
      </table>

      <div class="subheader">Payment Info</div>
      <table id="Payment Info" class="table" border="1">
        <tr>
          <th>Customer ID</th>
          <th>Card Number</th>
          <th>CVV</th>
          <th>Expiration Date</th>
          <th>Zip Code</th>
          <th>Name on Card</th>
          <th>Billing Address ID</th>
        </tr>
        <!-- please replace this with for loop like in customer table -->
        <% if(locals.payment) {%> <% for(var i = 0; i < payment.length; i++) {%>
        <tr>
          <td><%= payment[i].CustomerID %></td>
          <td><%= payment[i].Card_Num %></td>
          <td><%= payment[i].CVV %></td>
          <td><%= payment[i].Exp_Date %></td>
          <td><%= payment[i].Zip_Code %></td>
          <td><%= payment[i].Card_Name %></td>
          <td><%= payment[i].Billing_Address_ID %></td>
        </tr>
        <% } %> <% } %>
      </table>

      <div class="subheader">Customer Address</div>
      <table id="Customer Address" class="table" border="1">
        <tr>
          <th>Address ID</th>
          <th>Customer ID</th>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Zip Code</th>
          <th>IsShipping</th>
          <th>IsBilling</th>
        </tr>
        <!-- please replace this with for loop like in customer table -->
        <% if(locals.addr) {%> <% for(var i = 0; i < addr.length; i++) {%>
        <tr>
          <td><%= addr[i].Address_ID %></td>
          <td><%= addr[i].CustomerID %></td>
          <td><%= addr[i].Street %></td>
          <td><%= addr[i].City %></td>
          <td><%= addr[i].State %></td>
          <td><%= addr[i].Zip_Code %></td>
          <td><%= addr[i].Is_Shipping %></td>
          <td><%= addr[i].Is_Billing %></td>
        </tr>
        <% } %> <% } %>
      </table>

      <div class="subheader">Delivery</div>
      <table id="Delivery" class="table" border="1">
        <tr>
          <th>Delivery ID</th>
          <th>Customer ID</th>
          <th>Handler ID</th>
          <th>Address ID</th>
          <th>Date &#38; Time</th>
          <th>Total</th>
          <th>Delivery Instructions</th>
          <th>Purchased Items</th>
        </tr>

        <% if(locals.delivery) {%> <% for(var i = 0; i < delivery.length;
        i++){%>
        <tr>
          <td><%= delivery[i].Delivery_ID %></td>
          <td><%= delivery[i].CustomerID %></td>
          <td><%= delivery[i].Handler_ID %></td>
          <td><%= delivery[i].DeliveryAddressID %></td>
          <td><%= delivery[i].Date %></td>
          <td><%= delivery[i].Total_Cost %></td>
          <td><%= delivery[i].Delivery_Instructions %></td>
          <td><%= delivery[i].Purchased_Items %></td>
        </tr>
        <% } %> <% } %>
      </table>

      <div class="subheader">Favorites</div>
      <table id="Favorites" class="table" border="1">
        <tr>
          <th>Customer ID</th>
          <th>Favorite Items</th>
        </tr>

        <% if(locals.fav) {%> <% for(var i = 0; i < fav.length; i++) {%>
        <tr>
          <td><%= fav[i].CustomerID %></td>
          <td><%= fav[i].Favorite_Items %></td>
        </tr>
        <% } %> <% } %>
      </table>

      <div class="subheader">Handler</div>
      <table id="Handler" class="table" border="1">
        <tr>
          <th>Handler ID</th>
          <th>Name</th>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Zip Code</th>
          <th>Number of Reviews</th>
          <th>Review Score/Total</th>
          <th>Number of Deliveries</th>
          <th>Availability Status</th>
        </tr>
        <!-- please replace this with for loop like in customer table -->
        <% if(locals.handler) {%> <% for(var i = 0; i < handler.length; i++) {%>
        <tr>
          <td><%= handler[i].Handler_ID %></td>
          <td><%= handler[i].Name %></td>
          <td><%= handler[i].Street %></td>
          <td><%= handler[i].City %></td>
          <td><%= handler[i].State %></td>
          <td><%= handler[i].Zip_Code %></td>
          <td><%= handler[i].Num_Reviews %></td>
          <td><%= handler[i].Review_Score %></td>
          <td><%= handler[i].Num_Deliveries %></td>
          <td><%= handler[i].Availability %></td>
        </tr>
        <% } %> <% } %>
      </table>

      <div class="subheader">Items</div>
      <table id="Items" class="table" border="1">
        <tr>
          <th>Item ID</th>
          <th>Store ID</th>
          <th>Item Name</th>
          <th>Category</th>
          <th>Sub-Category</th>
          <th>IsBrand</th>
          <th>Price</th>
          <th>Special Details</th>
          <th>Stock</th>
        </tr>
        <!-- please replace this with for loop like in customer table -->
        <% if(locals.item) {%> <% for(var i = 0; i < item.length; i++) {%>
        <tr>
          <td><%= item[i].Item_ID %></td>
          <td><%= item[i].Store_ID %></td>
          <td><%= item[i].Item_Name %></td>
          <td><%= item[i].Category %></td>
          <td><%= item[i].Subcategory %></td>
          <td><%= item[i].Brand_Type %></td>
          <td><%= item[i].Price %></td>
          <td><%= item[i].Special %></td>
          <td><%= item[i].Stock %></td>
        </tr>
        <% } %> <% } %>
      </table>

      <div class="subheader">Stores</div>
      <table id="Store" class="table" border="1">
        <tr>
          <th>Store ID</th>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Zip Code</th>
          <th>Store Name</th>
          <th>Store Info</th>
          <th>Rating</th>
          <th>Splash image/th>
          <th>Store Owner Image</th>
          <th>Store History</th>
        </tr>
        <% if(locals.store){ %> <% for(var i = 0; i < store.length; i++) {%>
        <tr>
          <td><%= store[i].Store_ID %></td>
          <td><%= store[i].Address_Street %></td>
          <td><%= store[i].Address_City %></td>
          <td><%= store[i].Address_State %></td>
          <td><%= store[i].Address_Zipcode %></td>
          <td><%= store[i].Store_Name %></td>
          <td><%= store[i].Store_Info %></td>
          <td><%= store[i].Rating %></td>
          <td><%= store[i].Splash_Image %></td>
          <td><%= store[i].Owner_Image %></td>
          <td><%= store[i].Store_History %></td>
        </tr>
        <% } %> <% } %>
      </table>
    </div>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
