<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link href="/style.css" rel="stylesheet" />
    <title>Chickpea Test</title>
  </head>
  <body>
    <div id="header">
      <h1>Chickpea Database Test Page</h1>
    </div>
    <form action="/dump" method="get">
      <button id="customer-button" class="btn" type="submit">
        Import Data
      </button>
    </form>
    <div class="database-tables">
      <div class="subheader">
        Customer
        <button id="customer-button" class="btn" type="submit">
          Import Data
        </button>
      </div>
      <table id="Customer" class="table" border="1">
        <tr>
          <th>Customer ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Hashed Password</th>
          <th>Name</th>
        </tr>
        <!-- please reference for other tables -->
        <% if(locals.cust) {%> <% for(var i = 0; i < cust.length; i++) {%>
        <tr>
          <td><%= cust[i].CustomerID %></td>
          <td><%= cust[i].Username %></td>
          <td><%= cust[i].Email %></td>
          <td><%= cust[i].Hashed_Password %></td>
          <td><%= cust[i].Name %></td>
        </tr>
        <% } %> <% } %>
      </table>

      <div class="subheader">
        Payment Info
        <button id="payment-info-button" class="btn">Import Data</button>
      </div>
      <table id="Payment Info" class="table" border="1">
        <tr>
          <th>Customer ID</th>
          <th>Card Number</th>
          <th>CVG</th>
          <th>Expiration Date</th>
          <th>Address ID</th>
          <th>Name on Card</th>
        </tr>
        <!-- please replace this with for loop like in customer table -->
        <tr>
          <td>Customer ID</td>
          <td>Card Number</td>
          <td>CVG</td>
          <td>Expiration Date</td>
          <td>Address ID</td>
          <td>Name on Card</td>
        </tr>
      </table>

      <div class="subheader">
        Customer Address
        <button id="customer-address-button" class="btn">Import Data</button>
      </div>
      <table id="Customer Address" class="table" border="1">
        <tr>
          <th>Address ID</th>
          <th>Customer ID</th>
          <th>Street</th>
          <th>City</th>
          <th>Zip Code</th>
          <th>State</th>
          <th>IsShipping</th>
          <th>IsBilling</th>
        </tr>
        <!-- please replace this with for loop like in customer table -->
        <tr>
          <td>Address ID</td>
          <td>Customer ID</td>
          <td>Street</td>
          <td>City</td>
          <td>Zip Code</td>
          <td>State</td>
          <td>IsShipping</td>
          <td>IsBilling</td>
        </tr>
      </table>

      <div class="subheader">
        Delivery
        <button id="delivery-button" class="btn">Import Data</button>
      </div>
      <table id="Delivery" class="table" border="1">
        <tr>
          <th>Delivery ID</th>
          <th>Customer ID</th>
          <th>Handler ID</th>
          <th>Address ID</th>
          <th>Date &#38; Time</th>
          <th>Total</th>
          <th>Delivery Instructions</th>
          <th>Purchased Items</th>
        </tr>

        <% if(locals.delivery) {%> <% for(var i = 0; i < delivery.length; i++)
        {%>
        <tr>
          <td><%= delivery[i].DeliveryID %></td>
          <td><%= delivery[i].CustomerID %></td>
          <td><%= delivery[i].HandlerID %></td>
          <td><%= delivery[i].AddressID %></td>
          <td><%= delivery[i].DateTime %></td>
          <td><%= delivery[i].Total %></td>
          <td><%= delivery[i].DeliveryInstructions %></td>
          <td><%= delivery[i].PurchasedItems %></td>
        </tr>
        <% } %> <% } %>
      </table>

      <div class="subheader">
        Favorites
        <button id="favorites-button" class="btn">Import Data</button>
      </div>
      <table id="Favorites" class="table" border="1">
        <tr>
          <th>Customer ID</th>
          <th>Favorite Items</th>
        </tr>

        <% if(locals.fav) {%> <% for(var i = 0; i < fav.length; i++) {%>
        <tr>
          <td><%= fav[i].CustomerID %></td>
          <td><%= fav[i].FavoriteItems %></td>
        </tr>
        <% } %> <% } %>
      </table>

      <div class="subheader">
        Handler
        <button id="handler-button" class="btn">Import Data</button>
      </div>
      <table id="Handler" class="table" border="1">
        <tr>
          <th>Handler ID</th>
          <th>Name</th>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Zip Code</th>
          <th>Number of Reviews</th>
          <th>Review Score/Total</th>
          <th>Number of Deliveries</th>
          <th>Availability Status</th>
        </tr>
        <!-- please replace this with for loop like in customer table -->
        <tr>
          <td>Handler ID</td>
          <td>Name</td>
          <td>Street</td>
          <td>City</td>
          <td>State</td>
          <td>Zip Code</td>
          <td>Number of Reviews</td>
          <td>Review Score/Total</td>
          <td>Number of Deliveries</td>
          <td>Availability Status</td>
        </tr>
      </table>

      <div class="subheader">
        Items
        <button id="items-button" class="btn">Import Data</button>
      </div>
      <table id="Items" class="table" border="1">
        <tr>
          <th>Item ID</th>
          <th>Store ID</th>
          <th>Item Name</th>
          <th>Category</th>
          <th>Sub-Category</th>
          <th>IsBrand</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Special Details</th>
        </tr>
        <!-- please replace this with for loop like in customer table -->
        <tr>
          <td>Item ID</td>
          <td>Store ID</td>
          <td>Item Name</td>
          <td>Category</td>
          <td>Sub-Category</td>
          <td>IsBrand</td>
          <td>Price</td>
          <td>Stock</td>
          <td>Special Details</td>
        </tr>
      </table>

      <div class="subheader">
        Stores
        <button id="stores-button" class="btn" type="submit">
          Import Data
        </button>
      </div>
      <table id="Store" class="table" border="1">
        <tr>
          <th>Store ID</th>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Zip Code</th>
          <th>Store Name</th>
          <th>Store Info</th>
        </tr>
        <% if(locals.store){ %> <% for(var i = 0; i < store.length; i++) {%>
        <tr>
          <td><%= store[i].Store_ID %></td>
          <td><%= store[i].Address_Street %></td>
          <td><%= store[i].Address_City %></td>
          <td><%= store[i].Address_State %></td>
          <td><%= store[i].Address_Zipcode %></td>
          <td><%= store[i].Store_Name %></td>
          <td><%= store[i].Store_Info %></td>
        </tr>
        <% } %> <% } %>
      </table>
    </div>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
